<div>
  <.sidebar current_user={@current_user} current_path={@current_path} />

  <div class="lg:pl-64">
    <main class="min-h-[calc(100vh-4rem)] px-4 py-6 sm:px-6 lg:px-8">
      <.dashboard_header current_path={@current_path} />
      {@inner_content}
    </main>
  </div>
</div>

<.flash_group flash={@flash} />
